#tix-attendees#tix-attendees {
	font-size: var(--wp--preset--font-size--small);

	& ul {
		padding: 0;

		& li {
			margin-bottom: 2rem;
		}

		@media (min-width: 400px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem 2rem;

			& li {
				margin-bottom: 0;
			}
		}

		@media (min-width: 600px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 960px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	& li {
		margin: 0;
		height: auto;
		width: auto !important;
		float: none;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			inset: 0;
			margin: 0 auto;
			width: 150px;
			height: 150px;
			z-index: -1;
			background-color: var(--wp--preset--color--custom-color-10);
			background-image: url(//us.wordcamp.org/2026/files/2026/07/MotelSign_Stars-11.png);
			background-size: cover;
		}
	}

	& .avatar {
		margin: 0 auto 0.5rem;
		height: auto;
		width: 150px;
		float: none;
		display: block;
	}

	& .tix-field {
		margin-left: 0;
		font-size: inherit;
		width: auto;
		text-align: center;
	}

	& .tix-attendee-name {
		display: none;
	}

	& .tix-attendee-url {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& .tix-wordpress-org-profile-url:has(+ .tix-company-or-personal-website) {
		display: none;
	}
}
