body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

caption,
figcaption,
p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Add default focus style. */
a:focus,
button:focus,
.wp-element-button:focus,
.wp-block-button__link:focus,
.wp-block-details summary:focus,
input:focus,
input:focus-visible,
select:focus,
textarea:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	outline-color: var(--wp--preset--color--contrast-2);
	outline-offset: 2px;
	outline-style: dashed;
	outline-width: 1px;

	.has-base-color > & {
		outline-color: var(--wp--preset--color--base);
	}
}

a:focus,
button:focus,
.wp-element-button:focus,
.wp-block-button__link:focus,
.wp-block-details summary:focus {
	border-radius: 2px;
}

.wp-block-file:not(.wp-element-button) {
	font-size: inherit;
}

/* Style default form elements */
input[type="submit"],
input[type="button"],
input[type="reset"] {
	border: none;
	background-color: var(--wp--preset--color--contrast-3);
	color: var(--wp--preset--color--base);
	font-size: var(--wp--preset--font-size--medium);
	font-style: normal;
	font-weight: 500;
	line-height: inherit;
	border-radius: 0;
	padding-top: var(--wp--preset--spacing--10);
	padding-right: var(--wp--preset--spacing--30);
	padding-bottom: var(--wp--preset--spacing--10);
	padding-left: var(--wp--preset--spacing--30);

	&:hover {
		background-color: var(--wp--preset--color--contrast-2);
		color: var(--wp--preset--color--base);
	}

	&:focus {
		background-color: var(--wp--preset--color--contrast-2);
		border-color: var(--wp--preset--color--contrast-2);
		color: var(--wp--preset--color--base);
	}

	&:active {
		background-color: var(--wp--preset--color--contrast-3);
		color: var(--wp--preset--color--base);
	}
}

/* Jetpack Form overrides */
.contact-form .grunion-checkbox-multiple-options,
.contact-form .grunion-radio-options {

	p.contact-form-field {
		margin: 0;
	}
}

.contact-form .grunion-field-select-wrap {

	select {
		width: 100%;
	}
}

.contact-form .grunion-field-checkbox-wrap {

	.contact-form__checkbox-wrap {
		display: flex;
		align-items: flex-start;

		input {
			flex: 0;
			margin-block-start: 0.5em;
		}

		label {
			line-height: inherit;
		}
	}
}

.contact-form label span.grunion-label-required {
	opacity: 0.9 !important;
	color: var(--wp--preset--color--contrast-2);
}

:where(.wp-block-jetpack-button) .wp-block-button__link {
	height: auto;
}

/* Block overrides */

.wp-block-post-title {
	text-wrap: balance;
	overflow-wrap: initial;
	word-break: initial;
}

.wp-block-site-title a:where(:not(.wp-element-button)):hover {
	text-decoration: underline;
}

.wp-block-image a {
	display: inline-block;
}

/* Style the details block better */
.wp-block-details {
	width: 100%;

	& summary {
		padding-inline: var(--wp--preset--spacing--20);
	}
}

footer.wp-block-template-part { margin-top: 0; }

.purple-footer {
  background-image: url(https://us.wordcamp.org/2026/files/2026/05/Rock_Formation-purple-palms.png);
	background-position: right -75px bottom -5px;
	background-repeat: no-repeat;
  background-size: contain;
}